{% if book_list %}
    <ul>
    {% for Book in book_list %}
        <li><a href="{% url 'books:detail' Book.id %}">{{ Book.book_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No books are available.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if book_list.has_previous %}
            <a href="?page={{ book_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ book_list.number }} of {{ book_list.paginator.num_pages }}.
        </span>

        {% if book_list.has_next %}
            <a href="?page={{ book_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>